/* You can add global styles to this file, and also import other style files */
mat-form-field, mat-error {
    font-family: "roboto" !important;
}
mat-error {
    font-size: 10px;
    margin-bottom: 20px;
}